* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #aa8cc7;
    color: #fdf5f5;
    padding: 16px 0px;
    display: flex;
    border-bottom: 16px solid #4c395e;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
header button{
    margin-left: 16px;
    padding: 5px 6px;
    height: 30px;
    background-color: #dacece;
}

form{
    background-color: #dacece;
    padding: 24px 0px;
    text-align: center;
    display: none;
}
form h2{
    margin-bottom: 16px;
    color: #161616;
}
input, button{
    padding: 8px;
}
button{
    background-color: rgb(163, 160, 162);
    border: 1px solid black;
    text-transform: uppercase;
    color: #161616;
    cursor: pointer;
}
#botao-cancelar{
    background-color: #e48b8b;
}
#botao-adicionar{
    background-color: #8be49a;
}

ul {
    display: flex;
    flex-wrap: wrap;
}
ul li{
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}
ul li img {
    width: 100%;
    height: 100%;
}
.overlay-img-link{
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.227);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-img-link a{
    text-decoration: none;
    color: #fdf5f5;
}

ul li:hover .overlay-img-link{
    opacity: 1;
}